@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  @apply block w-full rounded-md border-0 p-2 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-300 placeholder:text-slate-500 focus:ring-1 focus:ring-inset focus:ring-indigo-600 bg-white;
}

label {
  @apply block text-sm font-medium leading-6 text-slate-500 first-letter:capitalize;
}

.btn-primary {
  @apply text-white cursor-pointer bg-indigo-600 px-4 py-1.5 rounded-md shadow-sm hover:bg-indigo-700 active:ring-2 ring-offset-1 ring-indigo-700 disabled:bg-slate-300 disabled:text-slate-100 disabled:cursor-not-allowed w-max;
}

.text-link {
  @apply text-sm text-indigo-600 hover:text-indigo-700 underline;
}

.errorMsg{
  @apply text-red-500 text-sm;
}

.title {
  @apply text-xl font-bold tracking-tight text-slate-900 sm:text-2xl mb-3 text-center;
}